div{
    
    height: 100px;
    width: 100px;
    border: solid rgb(49, 7, 238);
    background-image: url(https://plus.unsplash.com/premium_photo-1675063044882-522a7d281b2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);

    background-size: cover;
    color: white;
    position: relative;
    right: 0px;
    top: 50px;


}
div{
    
    height: 100px;
    width: 100px;
    border: solid rgb(49, 7, 238);
    background-image: url(https://plus.unsplash.com/premium_photo-1675063044882-522a7d281b2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);

    background-size: cover;
    color: white;
    position: relative;
    right: 0px;
    top: 50px;


}
